.statistics {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgb(122, 122, 122);
}
.title {
  padding: 30px 150px;
}
.stat-list {
  display: flex;
}
.item {
  width: 100%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 5px;
  color: rgba(255, 255, 255);
}
.label {
  font-size: 18px;
  font-weight: 500;
}
.percentage {
  font-size: 25px;
  font-weight: 700;
}
